@model WebsiteDatXeCongNghe.ViewModel.DoiMatKhauViewModel
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đổi mật khẩu</title>

    <!-- Font Icon -->

    <link href="~/css/login/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/css/login/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure>
                            <img src="~/image/login/signin-image.jpg" alt="sing up image">
                        </figure>
                        <a href="/TaiKhoan/Services" class="signup-image-link">
                            Quay về trang chủ.
                        </a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Đổi mật khẩu</h2>
                        <form method="post" action="DoiMatKhau" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="Số điện thoại">
                                    <i class="zmdi zmdi-account material-icons-name"></i>
                                </label>
                                <input type="text" name="SoDienThoai" id="username" value="@Session["SoDienThoai"].ToString()" readonly />
                            </div>
                            <div class="form-group">
                                <label for="Mật khẩu cũ"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="MatKhauHienTai"  placeholder="Nhập mật khẩu cũ..." />
                                @Html.ValidationMessageFor(model => model.MatKhauHienTai)
                            </div>
                            <div class="form-group">
                                <label for="Mật khẩu mới"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="MatKhauMoi"  placeholder="Nhập mật khẩu mới..." />
                                @Html.ValidationMessageFor(model => model.MatKhauMoi)
                            </div>
                            <div class="form-group">
                                <label for="Nhập lại mật khẩu mới"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="NhapLaiMatKhauMoi" placeholder="Nhập lại mật khẩu mới..." />
                                @Html.ValidationMessageFor(model => model.NhapLaiMatKhauMoi)
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me"
                                       class="agree-term" />
                                <label for="remember-me" class="label-agree-term">
                                    <span><span></span></span>Nhớ mật khẩu
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin"
                                       class="form-submit" value="Đổi mật khẩu" />
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Đăng nhập với</span>
                            <ul class="socials">
                                <li>
                                    <a href="#">
                                        <i class="display-flex-center zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="display-flex-center zmdi zmdi-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="display-flex-center zmdi zmdi-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script src="~/js/login/js/main.js"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>


