@model WebsiteDatXeCongNghe.ViewModel.TaiKhoanViewModel.QuenMatKhauViewModel
@{
    ViewBag.Title = "EnterNewPassword";
    Layout = null;
}
@*@using (Html.BeginForm("UpdatePassword", "TaiKhoan"))
{
    <h2>Enter New Password</h2>
    <div>
        <label>New Password:</label>
        <input type="password" name="NewPassword" />
    </div>
    <div>
        <label>Confirm New Password:</label>
        <input type="password" name="ConfirmNewPassword" />
    </div>
    <input type="submit" value="Change Password" />
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quên mật khẩu</title>

    <!-- Font Icon -->

    <link href="~/css/login/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/css/login/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure>
                            <img src="~/image/login/signin-image.jpg" alt="sing up image">
                        </figure>
                        <a href="/TaiKhoan/Services" class="signup-image-link">
                            Quay về trang chủ.
                        </a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Quên mật khẩu</h2>
                        <form method="post" action="UpdatePassword" class="register-form" id="login-form">
                            <style>
                                .hidden {
                                    display: none;
                                }
                            </style>

                            <p class="hidden">@Session["SoDienThoai"].ToString()</p>

                            <div class="form-group">
                                <label for="Mật khẩu mới"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="NewPassword" placeholder="Nhập mật khẩu mới..." />
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                            <div class="form-group">
                                <label for="Nhập lại mật khẩu mới"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="ConfirmNewPassword" placeholder="Nhập lại mật khẩu mới..." />
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin"
                                       class="form-submit" value="Cập nhật" />
                            </div>
                        </form>                       
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script src="~/js/login/js/main.js"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>


